<div class="page-header">
	<h1>
		Sales
		<a href="/sales/create" class="btn btn-default">
			<span class="glyphicon glyphicon-plus"></span>
			New Sale
		</a>
	</h1>

</div>

<div class="jumbotron text-center" ng-show="sale.processing">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading Sales...</p>
</div>
<div class="panel panel-default">
	<div class="panel-body">
		Search <input type="text" ng-model="search.$">
	</div>
</div>



<table class="table table-bordered table-striped" ng-show="sale.sales | filter:search">
	<thead>
		<tr>
			<th>PO Number</th>
    	<th>Customer</th>
    	<th>$ Value</th>
    	<th>Salesman</th>
    	<th>Description</th>
    	<th>Quote Number</th>
    	<th>Meeting Date</th>
    	<th>Project Manager</th>
			<th class="col-sm-2"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="saleItem in sale.sales">
			<td>{{ saleItem.poNumber }}</td>
      <td>{{ saleItem.customer }}</td>
      <td>{{ saleItem.value | currency }}</td>
      <td>{{ saleItem.salesman.name }}</td>
      <td>{{ saleItem.description }}</td>
      <td>{{ saleItem.quoteNumber }}</td>
      <td>{{ saleItem.meetingDate  | date:"dd-MM-yyyy" }}</td>
      <td>{{ saleItem.projectManager }}</td>
			<td class="col-sm-2">
				<a ng-href="/sales/{{ saleItem._id }}" class="btn btn-primary">Show</a>
				<a href="#" ng-click="sale.deleteSale(saleItem._id)" class="btn btn-danger">Delete</a>
			</td>
		</tr>
	</tbody>
</table>
