<div class="page-header">
	<h1>
		Sales
		<a href="/sales/create" class="btn btn-default">
			<span class="glyphicon glyphicon-plus"></span>
			New Sale
		</a>
	</h1>

</div>

<div class="jumbotron text-center" ng-show="sale.processing">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading Sales...</p>
</div>
<div class="panel panel-default">
	<div class="row">
		<div class="col-lg-3">
			<div class="panel-header">
				<h4>Search</h4>
			</div>
			<div class="panel-body">
				<input class="text" ng-model="sale.search" ng-change="sale.updateSearch(sale.search)" >
			</div>
		</div>
	</div>
</div>



<table class="table table-bordered table-striped" ng-show="sale.filtered">
	<thead>
		<tr>
			<th>PO Number</th>
    	<th>Customer</th>
    	<th>$ Value</th>
    	<th>Salesman</th>
    	<th>Description</th>
    	<th>Quote Number</th>
    	<th>Meeting Date</th>
    	<th>Project Manager</th>
			<th class="col-sm-2"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="saleItem in sale.filtered">
			<td>{{ saleItem.poNumber }}</td>
      <td>{{ saleItem.customer }}</td>
      <td>{{ saleItem.value | currency }}</td>
      <td>{{ saleItem.salesman.name }}</td>
      <td>{{ saleItem.description | limitTo:20 }}</td>
      <td>{{ saleItem.quoteNumber }}</td>
      <td>{{ saleItem.meetingDate  | date:"dd-MM-yyyy h:mm a" }}</td>
      <td>{{ saleItem.projectManager.name }}</td>
			<td>
				<a ng-href="/sales/{{ saleItem._id }}" class="btn btn-primary">Show</a>
				<a ng-if="user.isAdmin" href="#" ng-click="sale.deleteSale(saleItem._id)" class="btn btn-danger">Delete</a>
			</td>
		</tr>
	</tbody>
</table>
