<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row">
			<div class="col-lg-6">
				<h3>Customer: {{ sale.saleData.customer}}</h3>
			</div>
			<div class="col-lg-6">
				<h3>Project Value: ${{ sale.saleData.value }}</h3>
			</div>
		</div>
	</div>


	<div class="panel-body">
		<div class="row">
			<blockquote ng-if="!sale.saleData.handoverComplete" class="col-lg-6">
				<p>The Handover for this project is incomplete</p>
			</blockquote>
			<blockquote ng-if="!sale.saleData.accountsEntered" class="col-lg-6 pull-right">
				<p>The Accounts process for this project is incomplete</p>
			</blockquote>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<h4>PO Number: {{ sale.saleData.poNumber }}</h4>
				<h4>Salesman: {{ sale.saleData.salesman.name }}</h4>
				<h4>Project Manager: {{ sale.saleData.projectManager.name }}</h4>
				<h4>Accounts Signoff: {{ sale.saleData.accountsManager.name }}</h4>
			</div>
			<div class="col-lg-6">
				<h4>Handover Meeting Date: {{ sale.saleData.meetingDate | date:"dd-MM-yyyy h:mm a"  }}</h4>
				<h4>Quote Number: {{ sale.saleData.quoteNumber }}</h4>
				<p>Description: {{ sale.saleData.description }}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div class="btn-group">
					<a ng-href="/sales/{{ sale.saleData._id }}/edit" class="btn btn-success">Edit</a>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="btn-group">
					<a ng-if="!sale.saleData.handoverComplete" href="/sales/{{ sale.saleData._id }}/handover" class="btn btn-success">Create Handover</a>
					<a ng-if="!sale.saleData.accountsEntered && sale.isAdmin" href="/sales/{{ sale.saleData._id }}/accounts" class="btn btn-success">Complete Accounts Process</a>
				</div>
			</div>
		</div>
	</div>
</div>
